In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
#from google.colab import drive
#drive.mount('/content/drive')
#from google.colab import files

# Upload the CSV file from your PC
#uploaded = files.upload()

In [2]:
# Create Dataframe and Read the dataset using Pandas
df = pd.read_csv('df.csv')
df.head()

,0,Electricity:Facility [kW](Hourly),Fans:Electricity [kW](Hourly),Cooling:Electricity [kW](Hourly),Heating:Electricity [kW](Hourly),InteriorLights:Electricity [kW](Hourly),InteriorEquipment:Electricity [kW](Hourly),Gas:Facility [kW](Hourly),Heating:Gas [kW](Hourly),InteriorEquipment:Gas [kW](Hourly),Water Heater:WaterSystems:Gas [kW](Hourly),Class,theft
0,0,22.035977,3.586221,0.0,0.0,4.589925,8.1892,136.585903,123.999076,3.33988,9.246947,FullServiceRestaurant,Normal
1,1,14.649757,0.000000,0.0,0.0,1.529975,7.4902,3.359880,0.000000,3.33988,0.020000,FullServiceRestaurant,Normal
2,2,14.669567,0.000000,0.0,0.0,1.529975,7.4902,3.359880,0.000000,3.33988,0.020000,FullServiceRestaurant,Normal
3,3,14.677808,0.000000,0.0,0.0,1.529975,7.4902,3.931932,0.000000,3.33988,0.592052,FullServiceRestaurant,Normal
4,4,14.824794,0.000000,0.0,0.0,1.529975,7.4902,3.359880,0.000000,3.33988,0.020000,FullServiceRestaurant,Normal

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 560655 entries, 0 to 560654
Data columns (total 13 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   0                                           560655 non-null  int64
 1   Electricity:Facility [kW](Hourly)           560655 non-null  float64
 2   Fans:Electricity [kW](Hourly)               560655 non-null  float64
 3   Cooling:Electricity [kW](Hourly)            560655 non-null  float64
 4   Heating:Electricity [kW](Hourly)            560655 non-null  float64
 5   InteriorLights:Electricity [kW](Hourly)     560655 non-null  float64
 6   InteriorEquipment:Electricity [kW](Hourly)  560655 non-null  float64
 7   Gas:Facility [kW](Hourly)                   560655 non-null  float64
 8   Heating:Gas [kW](Hourly)                    560655 non-null  float64
 9   InteriorEquipment:Gas [kW](Hourly)          560655 non-null  float64
 10  Water Heater:WaterSystems:Gas [kW](Hourly)  560655 non-null  float64
 11  Class                                       560655 non-null  object
 12  theft                                       560655 non-null  object
dtypes: float64(10), int64(1), object(2)
memory usage: 55.6+ MB

In [4]:
# Columns which has null values
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [0, Electricity:Facility [kW](Hourly), Fans:Electricity [kW](Hourly), Cooling:Electricity [kW](Hourly), Heating:Electricity [kW](Hourly), InteriorLights:Electricity [kW](Hourly), InteriorEquipment:Electricity [kW](Hourly), Gas:Facility [kW](Hourly), Heating:Gas [kW](Hourly), InteriorEquipment:Gas [kW](Hourly), Water Heater:WaterSystems:Gas [kW](Hourly), Class, theft]
Index: []

In [5]:
# Extract rows from 0 to 140159
subset_df = df.iloc[0:140160]  # Rows 0 to 140159, inclusive

# Save the extracted data to a new CSV file named "all_meter.csv",this data is of 1 year for 16 meters.
subset_df.to_csv("all_meter.csv", index=False)

In [6]:
subset_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140160 entries, 0 to 140159
Data columns (total 13 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   0                                           140160 non-null  int64
 1   Electricity:Facility [kW](Hourly)           140160 non-null  float64
 2   Fans:Electricity [kW](Hourly)               140160 non-null  float64
 3   Cooling:Electricity [kW](Hourly)            140160 non-null  float64
 4   Heating:Electricity [kW](Hourly)            140160 non-null  float64
 5   InteriorLights:Electricity [kW](Hourly)     140160 non-null  float64
 6   InteriorEquipment:Electricity [kW](Hourly)  140160 non-null  float64
 7   Gas:Facility [kW](Hourly)                   140160 non-null  float64
 8   Heating:Gas [kW](Hourly)                    140160 non-null  float64
 9   InteriorEquipment:Gas [kW](Hourly)          140160 non-null  float64
 10  Water Heater:WaterSystems:Gas [kW](Hourly)  140160 non-null  float64
 11  Class                                       140160 non-null  object
 12  theft                                       140160 non-null  object
dtypes: float64(10), int64(1), object(2)
memory usage: 13.9+ MB

In [7]:
# Extract rows from 0 to 8759
subset_df1 = df.iloc[0:8760]  # Rows 0 to 8759, inclusive

# Save the extracted data to a new CSV file named "meter1.csv",this data is of 1 meter taken for 1 year period.
subset_df1.to_csv("meter1.csv", index=False)

In [8]:
subset_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 13 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   0                                           8760 non-null   int64
 1   Electricity:Facility [kW](Hourly)           8760 non-null   float64
 2   Fans:Electricity [kW](Hourly)               8760 non-null   float64
 3   Cooling:Electricity [kW](Hourly)            8760 non-null   float64
 4   Heating:Electricity [kW](Hourly)            8760 non-null   float64
 5   InteriorLights:Electricity [kW](Hourly)     8760 non-null   float64
 6   InteriorEquipment:Electricity [kW](Hourly)  8760 non-null   float64
 7   Gas:Facility [kW](Hourly)                   8760 non-null   float64
 8   Heating:Gas [kW](Hourly)                    8760 non-null   float64
 9   InteriorEquipment:Gas [kW](Hourly)          8760 non-null   float64
 10  Water Heater:WaterSystems:Gas [kW](Hourly)  8760 non-null   float64
 11  Class                                       8760 non-null   object
 12  theft                                       8760 non-null   object
dtypes: float64(10), int64(1), object(2)
memory usage: 889.8+ KB

In [9]:
subset_df1 = pd.read_csv('meter1.csv')

# Use value_counts to count instances of each category
theft_counts = subset_df1['theft'].value_counts()

# Display the counts
print(theft_counts)

Normal    5101
Theft1     811
Theft4     662
Theft3     659
Theft6     564
Theft5     515
Theft2     448
Name: theft, dtype: int64

In [10]:
subset_df1 = pd.read_csv('meter1.csv')
# Filter the DataFrame to include only "normal" and "theft 1" instances
selected_classes = ["Normal", "Theft1"]
filtered_df = subset_df1[subset_df1['theft'].isin(selected_classes)]

# Now, filtered_df contains only the "normal" and "theft 1" instances

In [11]:
filtered_df.head()

,0,Electricity:Facility [kW](Hourly),Fans:Electricity [kW](Hourly),Cooling:Electricity [kW](Hourly),Heating:Electricity [kW](Hourly),InteriorLights:Electricity [kW](Hourly),InteriorEquipment:Electricity [kW](Hourly),Gas:Facility [kW](Hourly),Heating:Gas [kW](Hourly),InteriorEquipment:Gas [kW](Hourly),Water Heater:WaterSystems:Gas [kW](Hourly),Class,theft
0,0,22.035977,3.586221,0.0,0.0,4.589925,8.1892,136.585903,123.999076,3.33988,9.246947,FullServiceRestaurant,Normal
1,1,14.649757,0.000000,0.0,0.0,1.529975,7.4902,3.359880,0.000000,3.33988,0.020000,FullServiceRestaurant,Normal
2,2,14.669567,0.000000,0.0,0.0,1.529975,7.4902,3.359880,0.000000,3.33988,0.020000,FullServiceRestaurant,Normal
3,3,14.677808,0.000000,0.0,0.0,1.529975,7.4902,3.931932,0.000000,3.33988,0.592052,FullServiceRestaurant,Normal
4,4,14.824794,0.000000,0.0,0.0,1.529975,7.4902,3.359880,0.000000,3.33988,0.020000,FullServiceRestaurant,Normal

In [12]:
filtered_df.tail()

,0,Electricity:Facility [kW](Hourly),Fans:Electricity [kW](Hourly),Cooling:Electricity [kW](Hourly),Heating:Electricity [kW](Hourly),InteriorLights:Electricity [kW](Hourly),InteriorEquipment:Electricity [kW](Hourly),Gas:Facility [kW](Hourly),Heating:Gas [kW](Hourly),InteriorEquipment:Gas [kW](Hourly),Water Heater:WaterSystems:Gas [kW](Hourly),Class,theft
8755,8755,38.216539,3.586221,0.0,0.0,9.179851,19.4245,137.418074,85.963982,33.3988,18.055292,FullServiceRestaurant,Normal
8756,8756,38.199381,3.586221,0.0,0.0,9.179851,19.4245,130.424326,82.510920,33.3988,14.514605,FullServiceRestaurant,Normal
8757,8757,38.129123,3.586221,0.0,0.0,9.179851,19.4245,134.117636,90.431849,25.0491,18.636687,FullServiceRestaurant,Normal
8758,8758,38.017393,3.586221,0.0,0.0,9.179851,19.4245,125.885592,94.674521,16.6994,14.511671,FullServiceRestaurant,Normal
8759,8759,38.825801,3.586221,0.0,0.0,9.179851,19.4245,107.861805,92.005940,8.3497,7.506165,FullServiceRestaurant,Normal

In [13]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5912 entries, 0 to 8759
Data columns (total 13 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   0                                           5912 non-null   int64
 1   Electricity:Facility [kW](Hourly)           5912 non-null   float64
 2   Fans:Electricity [kW](Hourly)               5912 non-null   float64
 3   Cooling:Electricity [kW](Hourly)            5912 non-null   float64
 4   Heating:Electricity [kW](Hourly)            5912 non-null   float64
 5   InteriorLights:Electricity [kW](Hourly)     5912 non-null   float64
 6   InteriorEquipment:Electricity [kW](Hourly)  5912 non-null   float64
 7   Gas:Facility [kW](Hourly)                   5912 non-null   float64
 8   Heating:Gas [kW](Hourly)                    5912 non-null   float64
 9   InteriorEquipment:Gas [kW](Hourly)          5912 non-null   float64
 10  Water Heater:WaterSystems:Gas [kW](Hourly)  5912 non-null   float64
 11  Class                                       5912 non-null   object
 12  theft                                       5912 non-null   object
dtypes: float64(10), int64(1), object(2)
memory usage: 646.6+ KB

In [14]:
# Save the extracted data to a new CSV file named "meter1a.csv"
filtered_df.to_csv("meter1a.csv", index=False)